<div class="container py-5">
  <form #emailform="ngForm" [ngClass]="{'was-validated': emailform.valid}">
    <label for="floatingInput" class="form-label">Email address</label>
    <ngcc-custom-input name="customInput" controlId="floatingInput" [(ngModel)]="email" [validators]="emailValidators"
      [type]="'email'" [placeholder]="'Email'"></ngcc-custom-input>

    {{emailform.invalid}}
    <ngcc-custom-datepicker name="date-picker" type="datetime-local" [(ngModel)]="selectedDate" [min]="'2025-01-01T00:00'" [max]="'2025-01-31T00:00'"></ngcc-custom-datepicker>
    {{selectedDate}}
  </form>

  {{email}}
  <br>
  <div class="form-floating mb-3">
    <ngcc-custom-input controlId="phonenumber" placeholder="9876543210" [(ngModel)]="phone" [validators]="phoneValidators" [type]="'number'">
      <label for="phonenumber">Email address</label>
    </ngcc-custom-input>


  </div>

  {{phone}}
  <br>
  <div class="form-check">
    <ngcc-custom-checkbox name="check" [(ngModel)]="isChecked" [validators]="checkboxValidators">
      <label class="form-check-label" for="flexCheckDefault">
        Accept terms and conditions
      </label>
    </ngcc-custom-checkbox>
  </div>
  <div class="form-check">
    <ngcc-custom-checkbox name="check" [(ngModel)]="isChecked" [validators]="checkboxValidators"
      [styleClass]="'btn-check'">
      <label class="btn btn-primary" for="flexCheckDefault">
        Accept terms and conditions
      </label>
    </ngcc-custom-checkbox>
  </div>
  <div class="form-check form-switch">
    <ngcc-custom-checkbox controlId="flexCheckDefault" name="check" [(ngModel)]="isChecked"
      [validators]="checkboxValidators">
      <label class="form-check-label" for="flexCheckDefault">
        Accept terms and conditions
      </label>
    </ngcc-custom-checkbox>
  </div>
  {{isChecked}}
  <br><br>
  <ngcc-custom-select [(ngModel)]="selected" [validators]="selectValidators">
    <option value="">Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </ngcc-custom-select>
  {{selected}}

  <br>
  <br>
  @for(option of radioOption; track option){
  <div class="form-check form-check-inline">
    <ngcc-custom-radio name="customRadio" id="{{'option'+option.label}}" [option]="option.value"
      [(ngModel)]="selectedRadio" [validators]="selectValidators">
      <label class="form-check-label" for="{{'option'+option.label}}">
        {{option.label}}
      </label>
    </ngcc-custom-radio>
  </div>
  }

  {{selectedRadio}}

  <br>
  <ngcc-custom-range [min]="1" [max]="90" [step]="1" [(ngModel)]="selectedRangeValue"
    [validators]="rangeValidators"></ngcc-custom-range>
  {{selectedRangeValue}}
</div>